@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
	padding: 0;
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box !important;
}

body {
	overflow-x: hidden !important;
	font-family: "Poppins", sans-serif;
}

a {
	text-decoration: none;
	color: #626885;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #3f4457;
	font-family: "Poppins", sans-serif;
	text-transform: capitalize;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 42px;
}

h3 {
	font-size: 35px;
}

h4 {
	font-size: 26px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}

p {
	margin: 0;
	line-height: 1.8;
	color: #4d4d4d;
	font-family: "Poppins", sans-serif;
}

button {
	border: none;
	border-radius: 27px;
	padding: 12px 16px;
	font-size: 18px;
	color: rgb(241, 241, 241);
}

/*********** Navbar **************/
.navbar {
	background-color: #f4f4ff;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: "Poppins", sans-serif;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}

.nav-item {
	padding: 5px 13px;
}

.logo {
	height: 40px;
	width: auto;
}

.nav-link {
	font-size: 16px;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	text-transform: uppercase;
}

.nav-link:hover {
	color: #d19423;
}

.contact-link {
	padding: 0 10px;
}

.contact-link a {
	border: solid 1px #43485c;
	background-color: #43485c;
	color: white;
	border-radius: 32px;
	padding: 10px 0;
}

.contact-link a:hover {
	background-color: transparent;
	color: #43485c;
	font-weight: 500;
}

.about,
.services,
.portfolio,
.contact {
	margin-top: 55px;
}

/************* Banner *****************/
.banner {
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(10, 20, 100, 0.09));
	margin-top: 105px;
}

.banner-content {
	margin-top: 100px;
}

.banner-content h5 {
	margin-bottom: -5px;
}

.banner img {
	height: 350px;
	width: auto;
}

.btn-1 {
	background-color: #404a73;
	border: solid 1px #404a73;
}

.btn-1:hover {
	background-color: transparent;
	color: #404a73;
}

.btn-2 {
	background-color: #d19423;
	border: solid 1px #d19423;
}

.btn-2:hover {
	background-color: transparent;
	color: #d19423;
}

/************ About **************/
.image-about {
	background-color: lightslategray;
	max-height: 296px;
	width: auto;
}

.about h5 {
	color: #606576;
}

/************SERVICES*************/
.card:hover {
	border: 1px solid #008000;
}

.servicesText.card {
	height: 300px;
	cursor: pointer;
}

.bi-icon {
	font-size: 27px;
}

/*FOOTER*/
footer {
	background-color: #606576;
}
